Options -Indexes +FollowSymlinks

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?request=$1

<Files ~ "(^config.php$)|application">
Order Allow,Deny
Deny from all
</Files>
